.usersManagerContainer {
    display: flex;
    flex-direction :column;
    height: 100%;
    width: 100%;
    padding: 2vh 2%;

    h2,h5 {
        margin:.5rem 0;
    }

    .addButton{
        margin: 1rem 0;
        padding: .5rem 3rem;
        font-size: 1.2rem;
        width: 15rem;
    }

    .searchBar {
        margin: 1rem 0;
        width: 20rem;
        border-radius: .5rem;
        padding: .2rem .5rem;
        font-size: .9rem;
    }

    .userContainer {
        position: relative;
        width:95vw;
        height: 60vh;
        overflow: hidden;
        padding: 0rem 1% .5rem 1%;
        overflow-y:auto;
    }

    .userFormat{
        margin-top: 1.5rem;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        max-width: 99%;
        min-height: 4rem;
        border: .2rem solid #99aa88;
        border-radius: 1rem;
        box-shadow: 0 0 .2rem .1rem gray;
        background-color: #ddeecc
    }

    .userInfo {
        margin: 1rem 3%;

        span {
            font-weight:bold;
            font-size: 0.9rem;
            margin-right: .1rem;
        }
    }

    .delete {
        margin: 1rem 2% 1rem 3%;
        color: #cc0000;
        font-size: 2rem;
        cursor: pointer;
    }
     
}




