.formContainer {
    position: absolute;
    z-index:5;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000000aa;

    .userForm {
        position: absolute;
        z-index:10;
        top:50vh;
        left: 50vw;
        transform: translate(-50% , -50%);
        border: solid black;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        padding: 3rem 2rem;
        background-color: white;

        .formHeader {
            text-align: center;
            margin-bottom: 3rem;
        }

        .formExit {
            position: absolute;
            top: 2%;
            right: 4%;
            font-weight:bold;
            font-size: 1.5rem;
            cursor: pointer;
        }

        .formInput {
            margin: .7rem;
            border-radius: .5rem;
            height: 2rem;
            min-width: 10rem;
            width: 15vw;
        }

        .formSubmit {
            margin-top: 3rem;
            height: 3rem;
            width:100%;
            font-size:1.1rem
        }
    }
}