.mainContainer {
    position: static;
    height:100vh;
    width:100vw;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    color: #333333;

    .mainTitle {
        text-align:center;
    }
}

